.address_main
  .address_main__container.user_main__container--title
    %h2.address_main__container--title
      住所情報登録
    = form_for(@address) do |f|
      = render "devise/shared/error_messages", resource: @address
      .field__postcode
        = f.label :郵便番号, class:"field__postcode--label"
        %br/
        = f.text_field :postcode, autofocus: true, autocomplete: "postcode",placeholder: "　例）furima", class:"field__postcode--field"
      .field
        = f.label :都道府県, class:"field__nickname--label"
        %br/
        = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name ,placeholder: "　例）furima", class:"field__nickname--field"
      .field
        = f.label :市町村, class:"field__nickname--label"
        %br/
        = f.text_field :address_city, autofocus: true, autocomplete: "address_city", placeholder: "　例）furima", class:"field__nickname--field"
      .field
        = f.label :番地, class:"field__nickname--label"
        %br/
        = f.text_field :address_street, autofocus: true, autocomplete: "address_street",placeholder: "　例）furima", class:"field__nickname--field"
      .field
        = f.label :建物名_任意, class:"field__nickname--label"
        %br/
        = f.text_field :address_building, autofocus: true, autocomplete: "address_building",placeholder: "　例）furima", class:"field__nickname--field"
      .field
        = f.label :電話番号_任意, class:"field__nickname--label"
        %br/
        = f.text_field :phone_number
      .actions.address_submit
        = f.submit "Sign up", class: "address_submit--btn"
    = render "devise/shared/links"
