.identification_main
  .identification_main__container
    %h2.identification_main__container--title
      本人確認
    = form_for(@identification) do |f|
      = render "devise/shared/error_messages", resource: @identification
      .identification_main__container__name
        .field__familyname
          = f.label :苗字, class:"field__familyname--label"
          %br/
          = f.text_field :familyname , autofocus: true , placeholder: "　例）山田", class:"field__familyname--field"
        .field__firstname
          = f.label :名前, class:"field__firstname--label"
          %br/
          = f.text_field :firstname , placeholder: "　例）太郎", class:"field__firstname--field"
      .identification_main__container__kana
        .field__familyname_kana
          = f.label :みょうじ　ふりがな, class:"field__familyname_kana--label"
          %br/
          = f.text_field :familyname_kana , placeholder: "　例）やまだ", class:"field__familyname_kana--field"
        .field__firstname_kana
          = f.label :なまえ　ふりがな, class:"field__firstname_kana--label"
          %br/
          = f.text_field :firstname_kana , placeholder: "　例）たろう", class:"field__firstname_kana--field"
      .field__bitrh_date
        = f.label :生年月日, class:"field__bitrh_date--label"
        %br/
        != sprintf(f.date_select(:birth_date , use_month_numbers: true, prompt:"--", start_year:Time.now.year, end_year:1900, default: Date.new(1989, 1, 1) , date_separator:'%s'),'年 ', '月 ','日')
      .actions.identification_submit
        = f.submit "Sign up", class:"identification_submit--btn"
    = render "devise/shared/links"
