.bread_crumbs
  .bread_crumbs__line
    - breadcrumb :mycard
    = breadcrumbs separator: "#{content_tag(:i, '', class: 'fas fa-chevron-right')}", class: "breadcrumbs-list"
.mypage
  .mypage_container
    .mypage_index
      = render "side_content"
    .mycard
      .mycard__main
        .mycard__main__btn
          = link_to "クレジットカード登録", "/"
          = render "layouts/item-sell"
