.product-body
  .product-body__main
    = form_with(model: @item, local: true, class: "product-body__main__form") do |f|
      .product-body__main__form__image

        .product-body__main__form__image__set
          .product-body__main__form__image__set__title 出品画像
          .product-body__main__form__image__set__must 必須
        .product-body__main__form__image__text 1枚以上3枚までアップロードできます

        -# .product-body__main__form__image__box
          -# .item-image
          -#   %img.image-zoom#preview0{alt: ""}/
          -#   %img.image-zoom#preview1{alt: ""}/
          -#   %img.image-zoom#preview2{alt: ""}/

        .product-body__main__form__image__boxes
          .product-body__main__form__image__boxes__form
      = f.fields_for :images do |image|
        .product-body__main__form__image__js
          .products_new-js-file_group{"data-index": image.index }
            = image.file_field :image, class: "products_new-js-file"
            -# = image.label :image, class: 'form__mask__image' do
            -#   .camera-icon
            -#     = icon('fa', 'camera')
          -# .product-body__main__form__image__del
          -#   -for i in 0..2
          -#     %button{type: "button", class: "btn"}削除

      .product-body__main__form__name-area
        .product-body__main__form__name-area__box
          = f.label :name, "商品名", class: ".product-body__main__form__name-area__box__label"
          .product-body__main__form__name-area__box__must 必須
        .product-body__main__form__name-area__field
          = f.text_field :name, placeholder: "20字まで", maxlength: "20", class: ".product-body__main__form__name-area__field"

      .product-body__main__form__explanation
        .product-body__main__form__explanation__box
          = f.label :description, "商品の説明",class: ".product-body__main__form__description__box__label"
          .product-body__main__form__name-area__box__must 必須
        .product-body__main__form__description__field
          = f.text_area :description, placeholder:"商品の説明（1,000文字以内で色、素材、重さ、定価、注意点などを記載して下さい)"



      %p 商品の詳細
      .product-body__main__form__category
        .product-body__main__form__category__box
          = f.label :category_id, "カテゴリー",class: ".product-body__main__form__category__box__label"
          .product-body__main__form__category__box__must 必須
        .product-body__main__form__category__field
          -# = f.select :category_id, ['レディース', 'メンズ', 'ベビー・キッズ', 'インテリア・住まい・小物', '本・音楽・ゲーム', 'おもちゃ・ホビー・グッズ', 'コスメ・香水・美容', '家電・スマホ・カメラ', 'スポーツ・レジャー', 'ハンドメイド', 'チケット', '自転車・オートバイ', 'その他'], {include_blank: '選択して下さい'}
          = f.text_field :category_id


      .product-body__main__form__brand
        .product-body__main__form__brand__box
          = f.label :brand_id, "ブランド名",class: ".product-body__main__form__brand__box__label"
          .product-body__main__form__brand__box__must-gray 任意
        .product-body__main__form__brand__field
          = f.text_field :brand_id, placeholder: "例) シャネル", maxlength: "40"

      .product-body__main__form__status
        .product-body__main__form__status__box
          = f.label :status, "商品の状態",class: ".product-body__main__form__status__box__label"
          .product-body__main__form__status__box__must 必須
        .product-body__main__form__status__field
          = f.select :status, ['新品、未使用', '未使用に近い', '目立った傷や汚れなし', 'やや傷や汚れあり', '傷や汚れあり', '全体的に状態が悪い'], {include_blank: '選択して下さい'}

      .product-body__main__form__size
        .product-body__main__form__size__box
          = f.label :size, "サイズ",class: "product-body__main__form__size__box__label"
          .product-body__main__form__size__box__must 必須
        .product-body__main__form__size__field
          = f.select :size, ['XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL'], {include_blank: '選択して下さい'}



      %p 配送について
      .product-body__main__form__burden
        .product-body__main__form__burden__box
          = f.label :cost, "配送料の負担",class: "product-body__main__form__burden__box__label"
          .product-body__main__form__burden__box__must 必須
        .product-body__main__form__burden__field
          = f.select :cost, ['送料込み(出品者負担)', '着払い(購入者負担)'], {include_blank: '選択して下さい'}

      .product-body__main__form__area
        .product-body__main__form__area__box
          = f.label :sold_day, "発送元の地域",class: "product-body__main__form__area__box__label"
          .product-body__main__form__area__box__must 必須
        .product-body__main__form__area__field
          = f.select :sold_day, ['北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県', '福岡県', '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県', '未定'], {include_blank: '選択して下さい'}

      .product-body__main__form__days
        .product-body__main__form__days__box
          = f.label :days, "発送までの日数",class: "product-body__main__form__days__box__label"
          .product-body__main__form__days__box__must 必須
        .product-body__main__form__days__box__field
          = f.select :days, ['1~2日で発送', '2~3日で発送', '4~7日で発送'], {include_blank: '選択して下さい'}



      %p 価格（¥300〜9,999,999）
      .product-body__main__form__price
        .product-body__main__form__price__box
          = f.label :price, "販売価格",class: "product-body__main__form__price__box__label"
          .product-body__main__form__price__box__must 必須
        .product-body__main__form__price__field
          ¥
          %div
            = f.number_field :price, in: 300..9999999, step: 1, placeholder: "0",value:'',class:"input-price"
          

      .product-body__main__form__fee
        .product-body__main__form__fee__box
          販売手数料 (10%)
        .product-body__main__form__fee__box2 -
          
            

      .product-body__main__form__profit
        .product-body__main__form__profit__box
          販売利益
        .product-body__main__form__profit__box2 -
          

      -# = link_to new_item_path do
      = f.submit "出品する", class: "product-body__main__form__exhibition"

      -# = link_to "#" do
      -#   = f.submit "下書きに保存", class: "product-body__main__form__draft"

    .product-body__main__back
      = link_to "もどる", :back, class: "product-body__main__back__btn"

    .product-body__main__notes
      禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。