.main__banner
  .main__banner__content
    %h2.main__banner__content__title
      誰でも簡単、人生を変えるフリマアプリ
    %p.main__banner__content__text
      今すぐ無料ダウンロード！
    .main__banner__content__btn
      .main__top-visual__content__btn__apple
        = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" do
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: "image"
      .main__top-visual__content__btn__google
        = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" do
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: "image"

.footer
  .footer__top
    .footer__top__about.footer-content
      %h2 FURIMAについて
      %ul
        %li
          = link_to "#" do
            会社概要（運営会社）
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            FURIMA利用規約
        %li
          = link_to "#" do
            ポイントに関する特約
    .footer__top__see.footer-content
      %h2 FURIMAを見る
      %ul
        %li
          = link_to "#" do
            カテゴリ一覧
        %li
          = link_to "#" do
            ブランド一覧

    .footer__top__privacy-law.footer-content
      %h2 ヘルプ&ガイド
      %ul
        %li
          = link_to "#" do
            ヘルプ&ガイド
        %li
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "#" do
            お知らせ
  .footer__logo
    = link_to root_path do
      = image_tag "/assets/material/logo/logo-white.png"
  %p © FURIMA
