.header
  .header__Inner
    .main-header
      %h1.icon
        = link_to "#" do
          = image_tag  asset_path("/assets/material/logo/logo.png"), class: "hurima"
      .search-box
        = form_with  do |form|
          = form.text_field :search,class: 'input-box',placeholder: 'キーワードから探す'
          = form.button type: "submit",class: "search-btn" do
            .search-btn__box
              = image_tag  asset_path("/assets/icon-search 1.png"), class: "icon-search"


            
    .nav
      %ul.left-box
        %li.left-box--first 
          = link_to "#" do
            カテゴリー
        %li.left-box--second 
          = link_to "#" do
            ブランド
      - if user_signed_in? 
        %ul.right-box     
          %li.right-box--login
            = link_to "マイページ", mypages_index_path
      - else 
        %ul.right-box
          %li.right-box--login 
            = link_to "ログイン",new_user_session_path
          %li.right-box--new 
            = link_to "新規会員登録",new_user_registration_path