!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample76b
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .headerInner
        .main-header
          %h1.icon
            %a{:href => "#"}
              %img.hurima{src: "/assets/material/logo/logo.png"}
          .search-box
            = form_with  do |form|
              = form.text_field :search,class: 'input-box',placeholder: 'キーワードからを探す'
              = form.button type: "submit",class: "search-btn" do
                %img{src: "/assets/material/logo/search.png"}
  
                
        .nav
          %ul.left-box
            %li.left-box--first カテゴリ
            %li.left-box--second ブランド
          %ul.right-box
            %li.right-box--login ログイン
            %li.right-box--new 新規会員登録
    = yield
