!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample76b
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .headerInner
        .main-header
          %h1.Icon
            %a{:href => "#"}
              %img{:src => "logo.png"}/
          .search-box
        .nav
          %ul.left-box
            %li.left-box--first
            %li
            %li.left-box--second
            %li
          %ul.right-box
            %li.right-box--login
            %li
            %li.right-box--new
            %li
    = yield
